
<html>
  <head>
    <title>Canvas tutorial</title>
    <head></head>
    <style type="text/css">
      * {padding: 0; margin:0;}
    </style>
        <link href="../../css/bootstrap.min.css" rel="stylesheet" media="screen">

  
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
  </head>
  <body> 
    <div  class="span10">
      <h3>control</h3>
      <button class="btn btn-primary" type="button">Vedio Control</button>
      <button class="btn btn-primary" type="button">Audio Control</button>
      <button class="btn btn-primary" type="button">Speak To Mobile Unit</button>
      Display:
      <select class="span2" id="display">
        <option value="0">normal</option>
        <option value="1">25%</option>
        <option value="2">50%</option>
        <option value="4">100%</option>
      </select>
    </div>
    <div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
           <canvas id="tutorial" width="950" height="600"/></canvas>

    </div>
    <div class="span3">
       <div  style="display:block;background-color:beige;width:150;height:500">
          mobile unit console:

          <lable>add mobile unit mark</lable>
          <ul>
              <li>1</li>
              <li>2</li>   
              <li>3</li>   
              <li>4</li>
          </ul>
        </div>  
       <div id="showDiv" style="display:none;background-color:beige;width:150;height:50"> </div>  
    </div>
  </div>
</div>


  <script type="text/javascript">

    function clone(src){
      return JSON.parse(JSON.stringify(src));
    }

     var init = function(multiple, mobileUnits){
      
        var list = []; //保存所有的图形
        var currentUnit ;

       context =  getCanvasContext( {
        scaleX : multiple,
        scaleY : multiple
       })
       canvas = getCanvas();

        drawGrid(context);
      
        for (var i = mobileUnits.length - 1; i >= 0; i--) {
           var u =   mobileUnits[i]; //object
          var obj = clone(u);
          var img = new Image();
          img.src = obj.imgSrc;
          obj.image = img;
          obj.isCurrent = false;
          currentUnit = null;
             x = obj.x ;
             y = obj.y;


          obj.drawUnit = function(context, obj){
                context.width = img.width;
                context.height = img.height;
                   preImage(obj.image,function(){
                   context.drawImage(img,obj.x,obj.y);

                });
          };
          obj.drawUnit(context, obj);
          list.push(obj);
        };
 
        function onMouseDwon(evt){
             var g_x;
             var g_y;
             if (evt.layerX || evt.layerX == 0) {   
                 g_x = evt.layerX ;   
                 g_y = evt.layerY ;   
             }  
             for (var i = list.length - 1; i >= 0; i--) {
                 var temp  =  list[i];
                    if(g_x  >= parseInt(temp.x) &&  
                      g_x  <= parseInt(temp.x) + parseInt(temp.image.width) &&  
                      g_y >= parseInt(temp.y) &&  
                      g_y <= parseInt(temp.y) + parseInt(temp.image.height)){  
                      currentUnit = temp;
                      var showDiv =   document.getElementById("showDiv");
                      showDiv.innerHTML = temp.description;
                    showDiv.style.display="block";    
                    showDiv.style.left=g_x+15; 
                    showDiv.style.top=g_y+100;   
                    showDiv.style.position="absolute"; 
                   }
             }    
           }

      

        function onMouseMove(evt){
              document.getElementById("showDiv");
              showDiv.style.display="none"; 
        }
       

        canvas.onmousedown = onMouseDwon;
        canvas.onmousemove = onMouseMove;

       }

      /*
       *drawGrid
       */
       function drawGrid(context){
         
         for(var x=0.5;x<950;x += 10){
          context.moveTo(x,0);
          context.lineTo(x,600);
          }
          //画横线
          for(var y=0.5;y<600;y += 10){
                 context.moveTo(0,y);
                 context.lineTo(950,y);
          }
          context.strokeStyle = "#ccc"; //选择颜色
          context.stroke();  //渲染
       }

    

       function preImage(img,callback){  

        if (img.complete) { // 如果图片已经存在于浏览器缓存，直接调用回调函数  
             callback.call(img);  
            return; // 直接返回，不用再处理onload事件  
         }  
      
         img.onload = function () { //图片下载完毕时异步调用callback函数。  
             callback.call(img);//将回调函数的this替换为Image对象  
         };  
      }  


      function getCanvasContext(config){
          var context;
          var canvas = getCanvas();
         if (canvas.getContext){
             context = canvas.getContext('2d');
         }  
         context.scale(config.scaleX, config.scaleY);
         return context;

      }

      function getCanvas(){
        return document.getElementById('tutorial');
      }

      function clear(){
          var context;
          var canvas = getCanvas();
         if (canvas.getContext){
             context = canvas.getContext('2d');
         }         
         context.clearRect(0,0,950,600);
      }


      

       document.getElementById("display").onchange =   function onSelectChange(){
          clear();
          var disMulriple = this.options[this.selectedIndex].value ;
          var mulriple = (parseInt(disMulriple) / 4 + 1);
          if(disMulriple == "0"){
           location.reload();
           return;
          }
          init(mulriple, units);
         
          };


       var u1 = {id:"1",imgSrc:"../../img/1.png", name:"oooooo", x:100, y:500, description:"1111111111"};
       var u2 = {id:"2",imgSrc:"../../img/1.png", name:"2222", x:0, y:0, description:"22222"};
       var u3 = {id:"3",imgSrc:"../../img/1.png", name:"33", x:400, y:500, description:"333"};
       var u4 = {id:"4",imgSrc:"../../img/1.png", name:"444", x:100, y:300, description:"444"};

       units =  [u1, u2, u3, u4] ;




      window.onload = init(1, units);

    </script>
    
  </body>
</html>